<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>space</key>
	<string>space.glif</string>
	<key>uni2B55</key>
	<string>uni2B55_.glif</string>
	<key>uni2B55.001</key>
	<string>uni2B55_.001.glif</string>
	<key>uni2B55.002</key>
	<string>uni2B55_.002.glif</string>
</dict>
</plist>
